<!DOCTYPE html>
<html ng-app="app">
<head>
<title>Painel Administrativo</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<style>
.mbottom {
	margin-bottom: 10px;
}
</style>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Dashboard</a>
			</div>
		</div>
	</nav>

	<div ng-controller="painelInicialController">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="well well-sm">
						<button type="button" class="btn btn-primary"
							ng-click="abreCadastroNoticia()">Nova Notícia</button>
					</div>
				</div>
			</div>
		</div>

		<div class="container" ng-show="showCadastro">
			<form ng-submit="cadastrarNovaNoticia()">

				<div class="row mbottom">
					<div class="col-xs-3 text-right">Título:</div>
					<div class="col-xs-9">
						<input type="text" class="form-control" ng-model="noticia.titulo"
							required>
					</div>
				</div>

				<div class="row mbottom">
					<div class="col-xs-3 text-right">Descrição:</div>
					<div class="col-xs-9">
						<input type="text" class="form-control"
							ng-model="noticia.descricao">
					</div>
				</div>

				<div class="row mbottom">
					<div class="col-xs-3 text-right">Data:</div>
					<div class="col-xs-9">
						<input class="form-control" ng-model="noticia.data"
							ui-mask="99/99/9999" model-view-value="true">
					</div>
				</div>

				<div class="row mbottom">
					<div class="col-xs-3 text-right">Texto:</div>
					<div class="col-xs-9">
						<textarea class="form-control" ng-model="noticia.texto" rows="5">
                           </textarea>
					</div>
				</div>

				<div class="row mbottom">
					<div class="col-xs-9 col-xs-offset-3">
						<button class="btn btn-danger" type="submit">Inserir</button>
					</div>
				</div>

			</form>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-xs-12">

					<table class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<th width="90">Data</th>
								<th>Titulo</th>
								<th>Descrição</th>
							</tr>
						</thead>

						<tbody>

							<tr ng-repeat="noticia in allNoticias">
								<td>{{ noticia.data }}</td>
								<td>{{ noticia.titulo }}</td>
								<td>{{ noticia.descricao }}</td>
							</tr>

						</tbody>

					</table>

				</div>
			</div>
		</div>
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js"></script>
	<script src="js/painelController.js"></script>
</body>
</html>